header {
    background-color: #333; 
    color: #fff; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; 
}

nav ul li a {
    display: inline-block; 
    padding: 10px 20px;
    text-decoration: none; 
    color: #fff; 
}

nav ul li a:hover {
    background-color: #555;
}

.home{
     background-image: url('cake.4.jpg');
     background-size: cover; 
     background-position: center; 
     background-repeat: no-repeat;
}
.images img {
    width: 200px; 
    height: auto; 
}
